:root {
  // Primary Colors
  --accent-clr-400: hsl(354, 84%, 57%);
  --accent-clr-350: hsl(243, 100%, 62%);
  --accent-clr-300: hsl(213, 96%, 18%);
  --accent-clr-250: hsl(228, 100%, 84%);
  --accent-clr-200: hsl(206, 94%, 87%);

  // Neutral Colors
  --neutral-clr-400: hsl(231, 11%, 63%);
  --neutral-clr-350: hsl(229, 24%, 87%);
  --neutral-clr-300: hsl(217, 100%, 97%);
  --neutral-clr-250: hsl(231, 100%, 99%);
  --neutral-clr-200: hsl(0, 0%, 100%);
  --neutral-clr-150: hsl(0, 0%, 44%);
}
