@use '../abstracts' as *;

.btn {
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  border-radius: 0.3rem;
  border: 0;
  font-family: inherit;
  background-color: var(--accent-clr-300);
  color: var(--neutral-clr-200);
  font-size: 1rem;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.9;
  }
}

.prev-btn {
  background-color: transparent;
  color: var(--neutral-clr-150);
  transition: color 0.2s ease;
  font-weight: 500;
  padding-left: 0;

  &:hover {
    color: var(--accent-clr-300);
  }
}

.buttons {
  @include flex(center, space-between);
}
