@use '../abstracts' as *;

body {
  font-family: $primaryFont;
  background-color: var(--neutral-clr-300);
}

.container {
  padding: 0 1rem;

  @include extra-large {
    width: 1100px;
    margin: 0 auto;
    background-color: var(--neutral-clr-200);
    border-radius: 0.7rem;
    padding: 1rem 0;
  }
}

// Breakpoints
@include extra-large {
  .form-container {
    height: 100vh;
    @include flex(center, center);
    flex-direction: column;
  }

  .d-flex {
    height: 100%;
    @include flex(center, center);
  }
}
