@use '../abstracts' as *;

.sidebar {
  height: 10.813rem;
  background-image: url(../../images/bg-sidebar-mobile.svg);
  @include image-property();

  &__steps {
    @include flex(center, center);
    text-align: center;
    padding: 2rem 1rem 0;
  }

  &__step-info ol {
    text-align: center;
    user-select: none;
    font-size: 1.3rem;
    margin: 0 1.063rem;
    cursor: pointer;
    height: 40px;
    width: 40px;
    @include flex(center, center);
    border-radius: 50%;
    color: var(--neutral-clr-200);
    border: 2px solid var(--neutral-clr-200);
    transition: background-color 0.2s ease;

    &:hover {
      background-color: var(--accent-clr-200);
      color: var(--accent-clr-300);
    }
  }

  &__step-text {
    display: none;
  }
}
