@use '../abstracts' as *;

.step-two {
  .plans {
    .plan {
      @include flex(center, flex-start);
      border: 1px solid var(--neutral-clr-350);
      padding: 1.213rem 1rem;
      border-radius: $borderRadius;
      transition: all 0.2s ease;

      @include extra-large {
        @include flex(flex-start, flex-start);
        flex-direction: column;
        margin-right: 1rem;
        width: 200px;
      }

      &:nth-child(1),
      &:nth-child(2) {
        margin-bottom: 1rem;

        @include extra-large {
          margin-bottom: 0;
        }
      }

      img {
        margin-right: 0.9rem;

        @include extra-large {
          margin-right: 0;
          margin-bottom: 3rem;
        }
      }

      &__info {
        h4 {
          color: var(--accent-clr-300);
          font-weight: 700;
          font-size: 1.1rem;
          margin-bottom: 0.3rem;
        }

        span {
          color: var(--neutral-clr-150);
          font-size: 0.9rem;
        }
      }

      &:hover {
        border-color: var(--accent-clr-350);
        background-color: var(--neutral-clr-300);
      }
    }

    // toogle switch

    .toggle__switch {
      user-select: none;

      input[type='radio'] {
        margin: 0 -2px 0 -2px;
        opacity: 0;
        width: 27px;
        height: 24px;
        cursor: pointer;
      }

      .toggle {
        @include flex(flex-start, center);
        margin: 2rem 0 0;
        padding: 1.2rem;
        border-radius: $borderRadius;
        border: none;
        background-color: var(--neutral-clr-300);

        &__wrapper {
          position: relative;
          height: 25px;
          margin: 0 1.5rem;
        }

        &__background {
          background-color: var(--accent-clr-300);
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          border-radius: 24px;
          pointer-events: none;
        }

        &__button {
          position: absolute;
          left: 4px;
          top: 3px;
          right: 100%;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          background-color: var(--neutral-clr-300);
          transition: all 250ms ease-in-out;
        }
      }

      #year:checked ~ .toggle__button {
        left: 27px;
      }
    }
  }
}

// Breakpoints
@include extra-large {
  .plan__flex {
    @include flex(center, flex-start);
  }
}
